body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #0072A1; }
a:visited { color: #0072A1; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
  font-weight:bold;
}
#alert {
	color:red;
  	font-weight:bold;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
ul.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
  font-color:#0072A1;
	font-size:14px;
}
ul.hmenu li a{
  color:#0072A1;
}

ul.hmenu li a:visited { color:#0072A1;}

/* Styles for main page */
#outer{
  min-height:100%;
  width:100%;
  position:relative;
}
#header {
  background:white;
  height:120px;
  border-bottom: 10px #003716 solid;
}
#header_image {
	float:left;
	border:0px;
}
#header_image a:hover {
	text-decoration:none;
	background-color:transparent;
}

#header_title a {
	font:calibri;
	padding-top:65px;
	float:left;
	font-size:40px;
	font-weight:bold;
	color:black;
	text-decoration:none;
	background-color:white;
}


#header_login {
	float:right;
	padding-right:50px;
	font-size:14px;
	padding-top:90px;
}

#content {
	padding:30px;
}
#footer {
  position:absolute;
  bottom:0;
  left:0;
  background:#2E5C40;
  height:40px;
  width:100%;
  border-top: 3px solid black;
  border-bottom: 2px solid black;
  text-align:center;
	color:white;
	font-weight:bold;
}
#footer a{
color:white;
}

#clearfooter{
    clear:both;
    height:40px;
}
.free_coffee {
/*  background:url("../images/free_coffee.png") no-repeat;*/
}

a.image_link:hover {
	text-decoration:none;
	background-color:transparent;
}

#fb_register {
	font-size:24px;
	font-weight:bold;
	
}

#homepage_bottom {
	margin-top: 0px;
	padding: 0px 20px 20px 20px;
	border-top: 3px solid gray;
	border-bottom: 1px solid gray;
	background-color:#dbf9bd;
}

#homepage_bottom p.subheading {
	font-size:16px;
	font-weight:bold;
	font-style: italic;
}

#homepage_bottom ol {
  	font-size: 36px;
	font-weight: bold;
	margin-left:50px;
}
#homepage_bottom li p {
  font-size: 20px;
}

table.search_results {
	border-width: 0px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
	margin: 10px 10px 20px 10px;
}
table.search_results th {
	border-width: 2px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	background-color: #AAAAAA;
	-moz-border-radius: ;
}
table.search_results th.edit_table {
	border-width: 1px;
	padding: 5px;
	background: url("../images/rounded.png") no-repeat top;
	border-style: inset;
	border-color: gray;
	-moz-border-radius: ;
}
table.search_results td {
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	-moz-border-radius: ;
}
table.search_results tr.even {
	background-color:white;
}
table.search_results tr.odd {
	background-color:#DDDDDD;
}
table.search_results td.explanation {
	font-size:12px;
	font-style:italic;
	border: 0px;
}
table.search_results .product_name {
	font-size:14px;
	font-weight:bold;
}
table.search_results td.money {
	font-weight:bold;
	font-size:14px;
	text-align:right;
}
table.search_results td.company {
	font-size:11px;
}

/*user purchases table*/
table.user_purchases {
	border-width: 0px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
	margin: 10px 10px 20px 10px;
}
table.user_purchases th {
	border-width: 2px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	background-color: #AAAAAA;
	-moz-border-radius: ;
}
table.user_purchases td {
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	-moz-border-radius: ;
}
table.user_purchases tr.even {
	background-color:white;
}
table.user_purchases tr.odd {
	background-color:#DDDDDD;
}

table.user_purchases td.money {
	text-align:right;
}
.company_homepage_logo {
	max-height:100px;
	padding-right: 30px;
}

input.submit { 
	background: url("../images/button_bg.png") repeat-x top;
	width:210px;
	height:36px;
	cursor:pointer;
	color: white; 
	font-weight: bold; 
	padding: 7px 34px 8px; 
	border: 0px !important; 
	font-size: 16px;
	font-weight:bold; 
	margin-left: 0px; 
	margin-top: 5px; 
	margin-bottom: 20px; 
	}
