<h1>About MovingBoxSearch.com</h1>
<p>We built MovingBoxSearch.com to do one thing - save you time and money when searching for moving boxes.   We want to take some of the stress out of your move, so we built a dead simple, user-friendly moving box search.</p>
<p>In addition to giving you an easy way to find moving boxes, we want to make your move day a bit better, so we buy coffee for anyone who creates an account and buys boxes through us.  Moving is tough, why not make it a bit easier with some free coffee?</p>
